<!DOCTYPE html>
<html>
    <body>

        {% block content %}
        {% endblock %}
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}

            <p><b> {{ form.city_name.label }}
            {{ form.city_name(size=32) }}</b></p>

            <p><b> {{ form.city_rank.label }}
            {{ form.city_rank(size=32) }}</b></p>
            
            <p><b> Visited {{ form.is_visited() }}</b></p>

            <p><b>{{ form.submit() }}</b></p>
        </form>
    </body>
</html>
